#titleq {
    text-align: center;
    color:blue !important;
    font-size : 70px;
}

label{
    color:black
}

ol {
    margin-top: 40px;
}
p{
    color: black;
    font-size: 25px;
    text-align: center;
}
ol h3 {
    margin-top: 20px;
    color : black;
}


.domande{
    display: flex;
}

.container {
    width: 60%;
    margin-left: 18%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: -15px 16px 15px 0px rgb(47, 44, 44);
}